<div class="page-header"><h1>Varnish Workbench</h1></div>
<p class="lead">
The <a href="https://github.com/ninech/varnishworkbench">Varnish Workbench</a>, a simple web application developed by <a href="http://nine.ch/">nine.ch</a> to play with, learn and test the <a href="https://www.varnish-cache.org">Varnish</a> web application accelerator, a caching reverse proxy. It is intended to help web developers and system administrators understand how Varnish works and how it can be controlled.
</p>
<p class="lead">
The Varnish Workbench is open source. Fork it on GitHub and help us improve it:
</p>
<a href="https://github.com/ninech/varnishworkbench" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> Varnish Workbench on GitHub</a>

<div class="page-header"><h2>About Varnish</h2></div>
<blockquote>
<p>
<a href="http://www.varnish-cache.org/" alt="Varnish.Cache">Varnish</a> is an HTTP accelerator designed for content-heavy dynamic web sites. Varnish is open source, available under a two-clause BSD license. Commercial support is available from <a href="https://www.varnish-software.com/" alt="Varnish Software">Varnish Software</a>, amongst others.</p>
<footer>Source: Wikipedia</footer>
</p>
</blockquote>
<div class="page-header"><h2>Technologies used</h2></div>
<ul>
    <li><a href="https://www.varnish-cache.org/" alt="Varnish Cache">Varnish</a></li>
    <li><a href="http://rubyonrails.org/" alt="Ruby on Rails">Ruby on Rails</a></li>
    <li><a href="http://jquery.com/" alt="jQuery">jQuery</a></li>
    <li><a href="http://getbootstrap.com/" alt="Bootstrap">Bootstrap</a></li>
    <li><a href="http://fortawesome.github.io/Font-Awesome/" alt="Font Awesome">Font Awesome</a></li>
</ul>
