<div class="page-header"><h1>About Varnishworkbench</h1></div>
<p class="lead">
Concept and implementation of Varishworkbench by <a href="http://www.nine.ch">nine.ch</a> to help Web developers understand how Varnish can be used and influence.
</p>
<blockquote>
<p>
<a href="http://www.varnish-cache.org/" alt="Varnish.Cache">Varnish</a> is an HTTP accelerator designed for content-heavy dynamic web sites. Varnish is open source, available under a two-clause BSD license. Commercial support is available from <a href="https://www.varnish-software.com/" alt="Varnish Software">Varnish Software</a>, amongst others.</p>
<footer>Source: Wikipedia</footer>
</p>
</blockquote>
<div class="page-header"><h2>Technologies used</h2></div>
<ul>
    <li><a href="https://www.varnish-cache.org/" alt="Varnish Cache">Varnish</a></li>
    <li><a href="http://rubyonrails.org/" alt="Ruby on Rails">Ruby on Rails</a></li>
    <li><a href="http://jquery.com/" alt="jQuery">jQuery</a></li>
    <li><a href="http://getbootstrap.com/" alt="Bootstrap">Bootstrap</a></li>
</ul>
