<div class="jumbotron">
  <div class="container">
    <h1>Hello, Webdeveloper!</h1>
    <p>This Varnish Workbench is a simple playground to try out the HTTP-Header which affect the Varnish web application accelerator.
    </p>
    <p><%= link_to "Learn mode »", workbench_path, class: 'btn btn-primary btn-lg'%></p>
  </div>
</div>
