<div class="jumbotron">
  <div class="container">
    <h1>Hello, web developer!</h1>
    <p>Welcome to the <a href="https://github.com/ninech/varnishworkbench">Varnish Workbench</a>, a simple web application developed by <a href="http://nine.ch/">nine.ch</a> to play with, learn and test the <a href="https://www.varnish-cache.org">Varnish</a> web application accelerator, a caching reverse proxy.
    </p>
    <p><%= link_to "Learn mode »", workbench_path, class: 'btn btn-primary btn-lg'%></p>
  </div>
</div>
