<div class="page-header">
    <h1>Varnish Workbench VCL <a href="varnishworkbench.vcl" class="btn btn-primary pull-right" role="button"><i class="fa fa-download"></i> Download</a></h1>
</div>
<pre>
<%= @vcl_highlight.html_safe %>
</pre>
