<div class="page-header"><h1>Frontend<small class="loading" style="display: none;">Loading...</small><h1></div>
<div class="panel panel-primary">
<div id="frontend_title" class="panel-heading"><%= @page.title %></div>
<div id="frontend_body" class="panel-body">
    <%= @page.text %>
</div>
</div>
